.about {
  font-size: 1.5vw; /* Увеличиваем размер текста */
  background-color: #1A1A2E;
  color: #FF00FF; /* Неоновый синий цвет текста */
  text-shadow: 0 0 30px #FF00FF;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff; /* Неоновое свечение */
  flex: 1; /* Заставит блоки занимать равное пространство по бокам от центрального блока */
  padding: 20px; /* Или любой другой отступ для правильного выравнивания */
  border-radius: 50px; /* Скругление углов */
  margin: 0 auto; /* Автоматические отступы справа и слева для центрирования */
  max-width: 600px; /* Максимальная ширина блоков */
  padding: 20px; /* Отступы внутри блоков */
  margin-top: 30px; /* Значение отступа соответствует отступу навигации */
  margin-bottom: 30px; /* Значение отступа соответствует отступу до Projects */
  overflow-wrap: break-word; /* Перенос слов, если они не помещаются */
}

.about strong {
  font-weight: bolder; /* Жирное начертание для текста внутри <strong> */
  font-size: 1.8rem;
}

.large-text {
  font-size: 2vw /* Укажите желаемый размер для большего текста */
  /* Другие стили, если необходимо */
}

.small-text {
  font-size: 1.5vw; /* Укажите желаемый размер для меньшего текста */
  /* Другие стили, если необходимо */
}

@media (max-width: 768px) {
  .about {
    font-size: 3vw; /* Увеличиваем размер шрифта на меньших экранах */
  }
}

@media (max-width: 480px) {
  .about {
    font-size: 4vw; /* Ещё больше увеличиваем размер шрифта на очень маленьких экранах */
  }
}