.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  width: 1280px;
  height: 720px;
  overflow: hidden; /* Скрыть прокрутку */
  position: relative; /* Для позиционирования iframe абсолютно внутри этого контейнера */
  transform-origin: top left;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
