/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000; /* Темный фон подходит для неонового стиля */
  color: #00FFFF; /* Неоновый синий цвет текста */
}



.side-text {
  flex-basis: 20%;
  color: #0ff; /* Неоновый синий цвет текста */
  font-size: 1.5em;
}



@media (max-width: 768px) {
  .navigation, .content, .footer {
    flex-direction: column;
  }

  .navigation {
    justify-content: center;
  }

  .content {
    flex-direction: column;
  }

  .center-content img {
    width: 50%;
  }
}

/* src/App.css */
html {
  font-size: 18px; /* Это устанавливает базовый размер шрифта для всего приложения */
}
